body {
  background-image: url(../images/wood.png);
  text-align: center;
  text-shadow: 2px 2px 5px #000000
}

.jumbotron {
  background-color: rgb(177, 177, 177);
  color: white;
  border-style: solid;
  border-color:black;
  border-width: thick;
  background-image: url(../images/players.png);
  background-position: center;
  background-size: 100%;
  box-shadow: 5px 5px 50px #0e0e0e;
}

.card-header{
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(48, 172, 172);
  color: white;
}
.card-body {
  background-color: rgb(53, 52, 52);
  color: white;
}

h3 {
  color: white;
}
h6 {
  color: white
}
.form-group{
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
}


table {
width: 180%;

}

tbody, thead tr { 
 display: block; 
display: inline-block ;

}

tbody {
height: 200px;
overflow-y: auto;
overflow-x: auto;
width: 80%;
}


 tbody td, thead th {
width:24%;
text-align: center;
}

td {
  margin: auto;
        line-height: 2px;
 }

thead th:last-child {
  width: 650px; /*140px + 16px scrollbar width  */

} 

tr { cursor: default; }
.highlight { background: grey; }

.change-roster  {
  background-image: url(../images/texture.jpg);
  background-size: contain;
  font-weight: bold;
  color: white;
}


.delete-player {
  background-image: url(../images/texture.jpg);
  background-size: contain;
  font-weight: bold;
  color: white;
}

ul {
  font-size: 20px;
}

