body {
    background-image: url(../images/wood.png);
    text-align: center;
    text-shadow: 2px 2px 5px #000000
}

.jumbotron {
    background-color: rgb(177, 177, 177);
    color: white;
    border-style: solid;
    border-color:black;
    border-width: thick;
    background-image: url(../images/players.png);
    background-position: center;
    background-size: 100%;
    box-shadow: 5px 5px 50px #0e0e0e;
}

.card-header{
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(48, 172, 172);
    color: white;
}

.card-body {
    background-color: rgb(53, 52, 52);
}

h6 {
    color: white
}

#ball {
  height: 20%;
  width: 20%;


}
/* web code */

table {
    width: 100%; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
}

tbody, thead tr { 
  display: block; 
}

tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

tbody td, thead th {
    width: 100%;
}

thead th:last-child {
    width: 156px; /* 140px + 16px scrollbar width */
}
